table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
}

thead {
    background-color: #f2f2f2;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

th {
    font-size: 1.0em;
    font-weight: normal;
    text-align: left;
    box-sizing: border-box;
}

td > * {
    vertical-align: middle;
}

tfoot {
    background-color: #f2f2f2;
    border-bottom: solid #ccc 1px;
}

table .table-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Readonly table */

.readonly-table tbody tr {
    border-bottom: solid #ccc 1px;
}

.readonly-table th {
    padding: 2px;
}

.readonly-table td {
    padding: 2px;
}

    .readonly-table td a {
        padding: 0px;
    }

/* Edit table */

.edit-table th {
    padding: 5px;
}

.edit-table .edit-row td {
    padding: 1px;
}

.edit-table .validation-row {
    border-bottom: solid #ccc 1px;
}

.edit-table .validation-row td {
    padding: 0 3px;
}

.edit-table .field-validation-error {
    color: #e80c4d;
}

.edit-table .table-text {
    padding: 4px;
}

.edit-table tfoot .button-cell {
    padding: 4px;
}

.edit-table .footer-total {
    padding: 0 4px;
    text-align: right;
}

/* Controls */
.edit-table .table-control {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
    padding: 3px;
    background: #fff;
    font: inherit;
    color: inherit;
    margin: 0;
    line-height: 1.4;
    min-height: 28px;
}

.edit-table textarea {
    resize: none;
}

.edit-table .numeric-text {
    left: auto;
    right: 4px;
}

.edit-table select.table-control {
    padding-left: 0;
}

    .edit-table select.table-control + .table-text {
        padding-left: 5px;
    }

.edit-table .numeric-input {
    text-align: inherit;
}

.edit-table input[type='checkbox'] {
    min-height: 15px;
}

.edit-table .button-header-cell {
    width: 30px;
}

.edit-table .hidden-header-cell {
    width: 0;
}

.edit-table .button-cell {
    text-align: center;
    background-color: #f2f2f2;
}

/* Buttons */
.edit-table .table-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: solid 1px #ccc;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

    .edit-table .table-button:hover, .edit-table .table-button:focus {
        background-color: #fff;
        border-color: #888;
    }

.edit-table .delete-button:after {
    content: '';
    width: 10px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 8px;
    left: 4px;
}

.edit-table .add-button:before {
    content: '';
    width: 2px;
    height: 10px;
    background-color: green;
    position: absolute;
    top: 4px;
    left: 8px;
}

.edit-table .add-button:after {
    content: '';
    width: 10px;
    height: 2px;
    background-color: green;
    position: absolute;
    top: 8px;
    left: 4px;
}

/* Archived rows */

.edit-table * {
    text-decoration: inherit;
}

.edit-table .disabled {
    background-color: #f2f2f2;
}

.edit-table .archived {
    color: #808080;
    text-decoration: line-through;
}

    .edit-table .archived .delete-button:before {
        content: '';
        width: 2px;
        height: 10px;
        background-color: blue;
        position: absolute;
        top: 4px;
        left: 8px;
    }

    .edit-table .archived .delete-button:after {
        content: '';
        width: 10px;
        height: 2px;
        background-color: blue;
        position: absolute;
        top: 8px;
        left: 4px;
    }
